body, th, td {
  font-family:  Helvetica, sans-serif;
  background: ivory;
}

ul.disk {
  list-style-type: circle;
}

div.tellstate {
  font-family: monospace;
}

.num {
  text-align: right;
}

.center {
  text-align: center;
}

.code_block {
  margin-left: 2em;
  white-space: pre-line;
}

.warn {
  background: yellow;
}

